@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500|Open+Sans:600,700");
* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.3125rem;
  color: #fff;
  background-color: #85CEEB; }

.nav-custom {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 1.75rem;
  line-height: 3rem;
  background-color: #85CEEB; }

.navbar-light .navbar-nav .nav-link {
  color: #FFD304; }

.navbar-light .navbar-nav .active > .nav-link {
  color: #3C3E80; }

.navbar-light .navbar-nav .nav-link:hover {
  color: #3C3E80; }

.navbar-light .navbar-brand {
  color: #2B2E41; }
  .navbar-light .navbar-brand .text-nav {
    font-weight: 300; }

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.5); }

.banner {
  background-image: url(img/bis-card-backdrop.png);
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-radius: 8px; }

.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:visited,
.btn.btn-primary:focus {
  background-color: #F1D743;
  border-color: #F1D743;
  border-radius: 0px;
  color: #2B2E41;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  height: 64px;
  line-height: 3.15rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }

a, a:hover {
  color: #2B2E41;
  text-transform: uppercase; }

.text-blue-shadow, .text-green-shadow, .title-card-character, .text-logo-name, h4, .text-bottom {
  font-family: 'dk_butterfly_ballregular', sans-serif;
  color: #423C3D;
  text-shadow: 2px 2px 1px #46a4a4;
  letter-spacing: -0.4px;
  font-size: 64px;
  line-height: 69px; }

.text-green-shadow {
  text-shadow: 2px 2px 1px rgba(147, 198, 45, 0.46); }

.title-card-character {
  color: #2B2E41;
  text-shadow: 2px 2px 1px rgba(147, 198, 45, 0.46);
  position: relative;
  top: -15px; }

.text-desc-title, .text-desc, dt, dd {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #2B2E41; }

.text-desc-title {
  color: #20A5DA; }

.text-logo-name {
  font-size: 150px;
  letter-spacing: -1px;
  color: #fff;
  line-height: 170px;
  text-shadow: 2px 2px 1px #2b2e41; }

.text-blue-body {
  color: #20A5DA;
  font-weight: 700; }

.text-lm {
  font-size: 28px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  color: #2B2E41;
  line-height: 2rem; }

h4, .text-bottom {
  font-size: 42px;
  letter-spacing: -0.28px;
  line-height: 55px; }

.img-border-radius {
  border-radius: 8px; }

.img-rotate {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg); }

.img-overlay-wrap {
  position: relative; }

.img-custom-margin {
  margin-top: -75px; }

a.btn.btn-primary.btn-lg {
  margin-top: -20px; }

.img-overlay-wrap img {
  box-shadow: 6px 10px 0 0 rgba(82, 98, 79, 0.52); }

.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 65%;
  margin-top: -45px; }

.character-card {
  border-radius: 8px 8px 0 0;
  background-color: #20A5DA;
  width: 100%;
  height: 220px; }

.card {
  border-radius: 8px;
  color: #2B2E41;
  font-size: 16px;
  border: none; }

.female {
  background-color: #F0858F; }

.custom-padding {
  padding-top: 22px; }

dl {
  display: grid;
  grid-template-columns: max-content auto; }

dt {
  grid-column-start: 1;
  color: #20A5DA; }

dd {
  grid-column-start: 2; }

.custom-margin-0 {
  margin-top: -20px; }

@media (max-width: 1199px) {
  .img-overlay-wrap svg {
    left: 58%; }

  .banner {
    height: 400px; }

  .custom-margin-0 {
    margin-top: -50px; }

  .text-sm {
    font-size: 55px;
    line-height: 59px; }

  .btn.btn-primary,
  .btn.btn-primary:hover,
  .btn.btn-primary:active,
  .btn.btn-primary:visited,
  .btn.btn-primary:focus {
    font-size: 24px; } }
@media only screen and (max-width: 991px) {
  .img-overlay-wrap svg {
    left: 45%; }

  .banner {
    height: auto; }

  .text-sm-1 {
    font-size: 50px;
    line-height: 40px; }

  .txt-ctr-1 {
    text-align: center !important; } }
@media only screen and (max-width: 767px) {
  .txt-ctr {
    text-align: center !important; }

  a.btn.btn-primary.btn-lg {
    margin-top: 20px !important; }

  .img-overlay-wrap svg {
    left: 62%; } }

/*# sourceMappingURL=main.css.map */
